*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}
body{
  background: black;
}
section {
  display: flex;
  justify-content: center;
  align-items:center ;
  color: white;
  width: 100%;
  height: 100vh;
}
.cursor{
  position: absolute;
  top: 50px;
  left: 50px;
  height: 25px;
  width: 25px;
  display: none;
  border-radius:12px;
  transform: translate(-50%,-50%);
  pointer-events: none;
}
.cursor::after,.cursor::before{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-radius:50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:white;
  
}
.cursor::before{
  
  transform: translate(-50%,-50%) scale(1);
  background: white;
 
}
.cursor.click::before{
   animation: click .5s ease-in-out forwards;
}

@keyframes click{
  0%{
    transform: translate(-50%,-50%);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%) scale(3.5);
    opacity: 0;
  }
}
